<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MusEmbed</title>
    <meta name="description" content="a Discord bot that helps you create embeds while playing you music.">
    <link id="favicon" rel="icon" href="https://cdn.discordapp.com/attachments/503935982945435679/544552597709914112/Embed_and_Music_Bot_Logo.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        MusEmbed
      </h1>
    </header>

    <main>
by Paraborg Discord Bots<br><br>
"A Discord bot that helps you create embeds while playing you music."<br>
<br><br>
This is a bot that can help you easily create embeds in your server. We also have music playing functionality.<br><br>
Customizable prefix. Default is `em/`.<br><br><br>
General Commands:<br>
`help`: Shows this help message. <br>
`botinfo`: Retrieves information about the bot. <br>
`serverinfo`: Retrieves information about the server. <br>
`ping`: Shows latency of the bot and the API. <br>
`vote`: Links you to vote for our bot.<br><br>

Embed Commands:<br>
`embed [message]`: Embeds your message. <br>
`rawembed [message]`: Administrator-only command that embeds your message without your name. <br><br>

Music Commands:<br>
`play [name of music]`: Searches for the song you requested. <br>
`skip`: Skips the current song. <br>
`np` Tells you what song is playing. <br>
`volume ([number])`: Sets the volume. Checks the volume if you don't provide a number. <br>
`queue`: Lists the queue.<br><br>

Moderation Commands:<br>
`kick [user]`: Kicks a user from the server. <br>
`ban [user]`: Bans a user from the executed server. <br>
`purge [number]`: Deletes a number of messages in a channel. <br>
`mute [user]`: Mutes a user in the executed server. A 'Muted' role must first be set up for this to work. <br>
`unmute [user]`: Unmutes a user in the executed server.<br><br>

Server Configurations:<br>
`showconf`: Shows the configurations for your server. <br>
`setconf [item] [new value]`: Sets a new value for your server's configuration. <br>
(Available configurations: `Prefix`, `Censor` `on/off`)<br><br>
      <a style="text-decoration:none" href="https://discord.gg/zd4afDp">Join the Support Server</a><br>
<a style="text-decoration:none" href="https://discordapp.com/oauth2/authorize?client_id=414440610418786314&scope=bot&permissions=2146958847">Invite MusEmbed</a>
    </main>
    <br><br><br>
<a href="https://discordbots.org/bot/414440610418786314" >
  <img src="https://discordbots.org/api/widget/414440610418786314.svg" alt="MusEmbed" />
</a>
    <footer>
      <img src="https://cdn.discordapp.com/attachments/503935982945435679/544552597709914112/Embed_and_Music_Bot_Logo.png" alt="MusEmbed" width="50" style="float: left" />
<br>&nbsp&nbsp&nbspMusEmbed™ by Paraborg Discord Bots
    </footer>
  </body>
</html>
