<!DOCTYPE html>
<html>
<head>
</head>
<body>

<p>Note:</p>

<p>Full list of commands and their usage can be found on our website, or provided by the bot using the command <code>{prefix}help [command name]</code>. Here is a key for commands featured here.</p>

<ul>
<li><code>&lt;(required arguments)&gt;</code></li>

<li><code>[(optional arguments)]</code></li>
</ul>

<h1 id="musembedcleanembedscrispmusic">MusEmbed™ | Clean Embeds, Crisp Music</h1>

<p>This is a bot that can help you easily create embeds in your server. We also have music playing functionality.</p>

<h2 id="customizableprefix">Customizable Prefix</h2>

<p>You can easily customise different settings, including the bot's prefix, of your server via the command <code>{prefix}setconf &lt;configuration&gt; &lt;new value&gt;</code>.</p>

<p>Here are the two available configurations:</p>

<ul>
<li><p><code>censor on/off</code> (off by default): Turns on/off swear word censoring.</p></li>

<li><p><code>prefix &lt;new prefix&gt;</code> (default <code>em/</code>): Sets a new prefix for the server. If you forget, just mention the bot as a prefix and use the command <code>{prefix}help</code>.</p></li>
</ul>

<h2 id="easilycreateembedsforyourguild">Easily create embeds for your guild</h2>

<p>Easily create embeds. One simple command - bam, that's it.</p>

<p>You can choose from two kinds of embeds: </p>

<ul>
<li><p><code>{prefix}embed [hex code] &lt;message&gt;</code> gives you a customised embed with your name</p></li>

<li><p><code>{prefix}rawembed [hex code] &lt;message&gt;</code> does the same without your name</p></li>
</ul>

<p>Note that if no hex code is provided, the embed created will be grey in colour.</p>

<h2 id="highqualitymusiccrispclear">High-quality music - crisp clear</h2>

<p>Our music is decoded at a bitrate of 384kbps,  and comes with a well-developed queue.</p>

<ul>
<li><p><code>{prefix}play &lt;song name/link&gt;</code> plays the provided song in your voice channel.</p></li>

<li><p><code>{prefix}pause</code> and <code>{prefix}resume</code> are self-explanatory.</p></li>

<li><p><code>{prefix}loop</code> toggles the queue's loop mode. Available modes are <code>single</code>, <code>all</code> and <code>off</code>.</p></li>

<li><p><code>{prefix}queue</code> and <code>{prefix}np</code> shows the current queue and song respectively. <code>{prefix}queue</code> also shows the current loop mode.</p></li>

<li><p><code>{prefix}volume [number 1-10]</code> changes the volume to the provided number. Defaulted at 10. Shows current volume if a number isn't provided.</p></li>

<li><p><code>{prefix}skip</code> and <code>{prefix}stop</code> skips the current song and deletes the whole queue respectively. The latter is admin-only.</p></li>
</ul>

<h2 id="utilityandmoderation">Utility and Moderation</h2>

<p>We provide basic utility and moderation commands (e.g. botinfo, serverinfo, purge, etc.). More information about these can be found <a href="https://www.musembed.tk/commands">here</a>.</p>
  
<a href="https://discordbots.org/bot/414440610418786314" >
<img src="https://discordbots.org/api/widget/414440610418786314.svg" alt="MusEmbed" />
</a>
  
</body>
</html>