<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Embed and Music Bot</title>
    <meta name="description" content="a Discord bot that helps you create embeds while playing you music.">
    <link id="favicon" rel="icon" href="https://cdn.discordapp.com/attachments/503935982945435679/544552597709914112/Embed_and_Music_Bot_Logo.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Embed and Music Bot
      </h1>
    </header>

    <main>
by Nikkablox Gaming Discord Bots<br>
"A Discord bot that helps you create embeds while playing you music."<br>

    </main>
<a href="https://discordbots.org/bot/414440610418786314" >
  <img src="https://discordbots.org/api/widget/414440610418786314.svg" alt="Embed and Music Bot" />
</a>
    <footer>
      <img src="https://cdn.discordapp.com/attachments/503935982945435679/544552597709914112/Embed_and_Music_Bot_Logo.png" alt="Embed and Music Bot" width="50" style="float: left"/> <br>&nbsp&nbsp&nbspEmbed and Music Bot ™ by Nikkablox Gaming Discord Bots
    </footer>
  </body>
</html>
